<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeAreUs - Donate Individu</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
    <div><table style="background-image: url(foto/navbarbackground.jpg)" class="table aligns-items-center shadow-lg bg-white" id="sticky" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        <tr class="border d-flex aligns-items-center justify-content-center">
            <td class="col-4 aligns-items-left py-2"><img src="foto/logo.jpg" si></td>
            <td class="col-6 d-flex aligns-items-center justify-content-center fw-bold align-middle py-4" style="font-size:30px;">
                <li class="d-inline mx-3 align-self-center"><h2><a style="text-decoration: none;" href="index.html">BERANDA</a>
                    <li class="d-inline mx-3 align-self-center"><a style="text-decoration: none;" href="donateoption.html">DONASI</a>
                <li class="d-inline mx-3 align-self-center"><a style="text-decoration: none;" href="kejadian.html">BERITA</a>
                <li class="d-inline mx-3 align-self-center"><a style="text-decoration: none;" href="penggalang.html">GALANG DANA</a></h2>
            </td>
            <td style="list-style-type: none;" class="col-2 aligns-items-left py-8 align-middle aligns-items-center justify-content-center">
                <li style="text-decoration: none; text-align: center;" class="border border-primary text-primary mx-3 align-self-center p-7"><a href="#">LOGIN</a></li>
                <li style="text-decoration: none;" class="mx-3 align-self-center">
                    <a class="p-2" href="https://web.facebook.com/Indomilk/"><img src="foto/pesbuk.png"></a>
                    <a class="p-2" href="https://www.instagram.com/indomilk/"><img src="foto/instagram.png"></a>
                    <a class="p-2" href="https://twitter.com/indomilk"><img src="foto/twitter.png"></a>
                    <a class="p-2" href="https://www.youtube.com/channel/UCPCqx4_U9EnM9pmc0j3Hqow"><img src="foto/youtube.png"></a>
                </li>
            </td>
        </tr>
    </table></div>
    
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg text-center">

        
        <div id="app">

            <div class="container">         
                  <div class="col-md-12">
                        <h4 class="mb-3">Form Donasi  <button class="btn btn-md btn-primary" v-on:click="resetForm()">Masukkan Data Diri </button>
                        </h4>
                        <table class="table table-striped">
                            <tr>
                                <th>ID Donator</th>
                                <th>Nama Donator</th>
                                <th>Umur Donator</th>
                                <th>Pekerjaan Donator</th>
                                <th>Profil Singkat Donator</th>
                                <th>Pesan Donator</th>
                                <th>ID Penggalang</th>
                                <th>Jumlah Donasi</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            <tr v-for="individu in Donator_Individu">
                                <td>{{ individu.id_donator }}</td>
                                <td>{{ individu.nama_donator }}</td>
                                <td>{{ individu.umur_donator }}</td>
                                <td>{{ individu.pekerjaan_donator }}</td>
                                <td>{{ individu.profil_singkat_donator }}</td>
                                <td>{{ individu.pesan_donator }}</td>
                                <td>{{ individu.id_penggalang }}</td>
                                <td>{{ individu.jumlah_donasi_individu }}</td>
                                <td><button class="btn btn-md btn-warning" v-on:click="getEdit(individu)">Edit</button></td>
                                <td><button class="btn btn-danger" v-on:click="getDelete(individu)">Delete</button></td>
                            </tr>
                    </table>
    
               
                    
                
                    <h4 class="mb-3">User Information</h4>
                    <form class="needs-validation" novalidate>
                        <div class="mb-3">
                          <label for="nama_donator">Nama Donator:</label>
                          <input v-model="nama_donator" type="text" class="form-control" id="nama_donator" placeholder="Masukkan nama anda disini" value="" required>
                          <div class="invalid-feedback">
                            Valid first name is required.
                          </div>
                        </div>
                        <div class="mb-3">
                            <label for="umur_donator">Umur Donator:</label>
                            <input v-model="umur_donator" type="text" class="form-control" id="umur_donator" placeholder="Masukkan umur anda" value="" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                              </div>
                        </div>
                          <div class="mb-3">
                            <label for="pekerjaan_donator">Nama Donator:</label>
                            <input v-model="pekerjaan_donator" type="text" class="form-control" id="pekerjaan_donator" placeholder="Masukkan pekerjaan anda" value="" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                              </div>  
                        </div>
                          <div class="mb-3">
                            <label for="profil_singkat_donator">Profil Singkat Donator:</label>
                            <textarea v-model="profil_singkat_donator" type="text" class="form-control" id="profil_singkat_donator" placeholder="Tuliskan profil singkat anda" value="" required></textarea>
                            <div class="invalid-feedback">
                                Valid first name is required.
                              </div>
                        </div>
                          <div class="mb-3">
                            <label for="pesan_donator">Pesan Donator:</label>
                            <textarea v-model="pesan_donator" type="text" class="form-control" id="pesan_donator" placeholder="Tuliskan pesan anda" value="" required></textarea>
                            <div class="invalid-feedback">
                                Valid first name is required.
                              </div>  
                        </div>
                          <div class="mb-3">
                            <label for="id_penggalang">ID Penggalang:</label>
                            <input v-model="id_penggalang" type="text" class="form-control" id="id_penggalang" placeholder="Masukkan id penggalang yang ingin didonasikan" value="" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                              </div>  
                        </div>
                          <div class="mb-3">
                            <label for="jumlah_donasi_individu">Jumlah Donasi:</label>
                            <input v-model="jumlah_donasi_individu" type="text" class="form-control" id="jumlah_donasi_individu" placeholder="Masukkan id penggalang yang ingin didonasikan" value="" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                              </div> 
                        </div>
                    </form>
                  </div>
                </div>
                <div v-if="message" class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                <hr class="mb-4">
                <button v-if="!editMode && !deleteMode" v-on:click="createIndividu" class="btn btn-primary btn-lg btn-block" type="submit">Submit Data</button>
                <button v-if="editMode" v-on:click="updateIndividu" class="btn btn-warning btn-lg btn-block" type="submit">Update Data</button>
                <button v-if="deleteMode" v-on:click="deleteIndividu" class="btn btn-danger btn-lg btn-block" type="submit">Delete Data</button>
                <br><br><br><br><br>
        </div>
        
    
        <!-- Axios -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
        <script>
            var app = new Vue ({
                el: '#app',
                data: {
                    errors: [],
                    message: null,
                    Donator_Individu:[],
                    idEdit: null,
                    idDelete: null,
                    editMode: false,
                    deleteMode: false,
                    nama_donator: '',
                    umur_donator: '',
                    pekerjaan_donator: '',
                    profil_singkat_donator: '',
                    pesan_donator: '',
                    id_penggalang: '',
                    jumlah_donasi_individu: '',
                },
                mounted: function() {
                    this.getIndividu();
                },
                methods: {
                    getIndividu() {
                        axios.get('https://622355bb3af069a0f99fae09.mockapi.io/Donator_Individu')
                            .then(response => {
                                this.Donator_Individu = response.data;
                                console.log(response);
                            })
                            .catch(error => {
                                console.log(error);
                            });
                    },
                    createIndividu: function(){
                        axios.post('https://622355bb3af069a0f99fae09.mockapi.io/Donator_Individu', {
                            nama_donator: this.nama_donator,
                            umur_donator: this.umur_donator,
                            pekerjaan_donator: this.pekerjaan_donator,
                            profil_singkat_donator: this.profil_singkat_donator,
                            pesan_donator: this.pesan_donator,
                            id_penggalang: this.id_penggalang,
                            jumlah_donasi_individu: this.jumlah_donasi_individu,
                        })
                        .then(response => {
                                this.getIndividu();
                                this.message = "Data anda sudah disimpan";
                                console.log(response);
                        })
                        .catch(error => {
                                console.log(error);
                        });
                    },
                    resetForm: function () {
                        this.message = null;
                        this.editMode = false;
                        this.deleteMode = false;
                        this.idEdit = null;
                        this.nama_donator = null;
                        this.umur_donator = null;
                        this.pekerjaan_donator = null;
                        this.profil_singkat_donator = null;
                        this.pesan_donator = null;
                        this.id_penggalang = null;
                        this.jumlah_donasi_individu = null;
                    },
                    getEdit: function (individu) {
                        this.message = null;
                        this.editMode = true;
                        this.deleteMode = false;
                        this.individuIdEdit = individu.id_donator;
                        this.nama_donator = individu.nama_donator;
                        this.umur_donator = individu.umur_donator;
                        this.pekerjaan_donator = individu.pekerjaan_donator;
                        this.profil_singkat_donator = individu.profil_singkat_donator;
                        this.pesan_donator = individu.pesan_donator;
                        this.id_penggalang = individu.id_penggalang;
                        this.jumlah_donasi_individu = individu.jumlah_donasi_individu;
                    },
                    getDelete: function (individu) {
                        this.message = null;
                        this.editMode = false;
                        this.deleteMode = true;
                        this.individuIdDelete = individu.id_donator;
                        this.nama_donator = individu.nama_donator;
                        this.umur_donator = individu.umur_donator;
                        this.pekerjaan_donator = individu.pekerjaan_donator;
                        this.profil_singkat_donator = individu.profil_singkat_donator;
                        this.pesan_donator = individu.pesan_donator;
                        this.id_penggalang = individu.id_penggalang;
                        this.jumlah_donasi_individu = individu.jumlah_donasi_individu;
                    },
                    updateIndividu: function () {
                        axios.put(`https://622355bb3af069a0f99fae09.mockapi.io/Donator_Individu/${this.individuIdEdit}`, {
                            nama_donator: this.nama_donator,
                            umur_donator: this.umur_donator,
                            pekerjaan_donator: this.pekerjaan_donator,
                            profil_singkat_donator: this.profil_singkat_donator,
                            pesan_donator: this.pesan_donator,
                            id_penggalang: this.id_penggalang,
                            jumlah_donasi_individu: this.jumlah_donasi_individu,
                        })
                            .then(res => {
                                // handle success
                                this.message = "Your data has been updated";
                                this.getIndividu();
                            })
                            .catch(err => {
                                // handle error
                                console.log(err);
                            })
                    },
                    // Delete User
                    deleteIndividu: function () {
                        axios.delete(`https://622355bb3af069a0f99fae09.mockapi.io/Donator_Individu/${this.individuIdDelete}`)
                            .then(res => {
                                // handle success
                                this.message = "Data sudah dihapus";
                                this.getIndividu();
                            })
                            .catch(err => {
                                // handle error
                                console.log(err);
                            })
                    }
                }
            })
            
        </script><br><br><br>
    </div>
    <br><br><br><br><br><br>
        <footer class="container bg-info">
            <p class="float-end"><a href="#">Back to top</a></p>
            <p>&copy; 2022–2023 WeAreUs, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
    </div>
</body>
</html>